<html>
    <head>
        <title>Apartments</title>
        <style type="text/css">
            .hide,
            .hide a { color: #ccc }

        </style>
    </head>
    <body>
	<h1>Apartments</h1>
	<a href="{{ feed }}">source</a>
        <ul>
        {% for post in posts %}
            <li {% if post.shithole %}class="hide"{% endif %}>
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            </li>
        {% endfor %} 
        </ul>

        

    </body>
</html>
